.container_calc {
    max-width: 420px;
    margin: 30px auto;
    overflow: auto;
    min-height: 250px;
    border: 2px solid #000;
    padding: 30px;
    border-radius: 10px; 
    align-items: center;
    margin-top: 60px;
    padding: 50px;
    background-color: black;
}

.button_num,
.button_op,
.button_clear {
    width: 90px;
    height: 90px;
    font-size: 27px;
    cursor: pointer;
    background-color: #363636;
    border-radius: 50px;
    margin: 6px;
    border: #363636;
}

.button_num {
  color: white;
}

.button_op {
  color: rgba(123, 206, 0, 0.924);
}

.button_clear {
  color: rgb(255, 107, 53);
}

.buttons {
    margin-top: 110px;
    margin-left: 1px;
}