.container_calc {
    max-width: 400px;
    margin: 30px auto;
    overflow: auto;
    min-height: 250px;
    border: 2px solid #000;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    margin-top: 60px;
    padding: 50px;
}

.button_calc {
    color: black;
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.buttons {
    margin-top: 100px;
}